@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --highlight: black;
    --bgcover: white;
}

body {
    color: var(--highlight);
}

.mask {
  -webkit-mask-image: linear-gradient( white 50%, white 50%);
  mask-image: linear-gradient(white 50%, white 50%);
}


::-webkit-scrollbar {
  display: none;
}